.SearchedData-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchedData-content{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 100px;
    padding: 50px;
    border-radius: 15px;
    color: rgb(11, 127, 194);
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0px 0px 20px rgb(71, 71, 71);
}

span{
    color: black;
}

.weather-info{
    padding: 15px 0;
}